@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url("/styles/hamburger-menu.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", sans-serif;
  scroll-behavior: smooth;
}

@layer base {
  .body {
    @apply bg-black text-white;
  }  
}

@layer components {
  .container {
    margin: 0 auto;
    @apply max-w-screen-2xl;
  }

  .nav-btn {
    @apply flex flex-row relative justify-center items-center py-2 px-16;
  }

  .title-text {
    @apply 2xl:text-8xl xl:text-7xl md:text-5xl text-4xl text-white;
  }

  .section-text {
    @apply 2xl:text-6xl xl:text-5xl text-4xl text-white;
  }

  .info-text {
    @apply text-light-white text-xl sm:text-2xl;
  }

  .g-inset {
    inset: 10px 60% 10px 0
  }
}

@layer utilities {
  .padding {
    @apply sm:px-16 px-8 sm:py-24 py-12;
  }

  .special-gradient-text{
    background: linear-gradient(-60deg, rgba(255,214,0,1) 29%, rgba(255,122,0,1) 69%);
    @apply bg-clip-text text-transparent;
  }

  .special-shadow{
    text-shadow: 0px 0px 50px rgb(255, 199, 0, 1), 0px 0px 50px rgb(255, 199, 0, 1),
                  0px 0px 25px rgb(255, 199, 0, 1), 0px 0px 35px rgb(255, 199, 0, 1);
    @apply select-none
  }

  .special-shadow-box{
    box-shadow: 0px 0px 50px rgb(255, 199, 0, 1);
  }

  .special-text{
    @apply special-shadow special-gradient-text;
  }
  
  .special-bg{
    background: linear-gradient(-60deg, rgba(255,214,0,1) 29%, rgba(255,122,0,1) 69%);
    @apply special-shadow-box
  }

  .special-border {
    border-image: linear-gradient(-60deg, rgba(255,214,0,1) 29%, rgba(255,122,0,1) 69%) 1;
  }
}







/* Menu Start*/

.menu-item{
  @apply w-full text-2xl text-white leading-normal hover:text-gray-400 
}

/* Position and sizing of burger button */
.bm-burger-button {
  width: 36px;
  height: 30px;
}

/* Position and sizing of cross button */
.bm-cross-button {
  width: 32px !important;
  height: 32px !important;
}

/* Sidebar wrapper styles SHOULD NOT BE TOUCHED!!!*/
.bm-menu-wrap {
  position: fixed;
  top: 0;
  height: 100%;
  
}

/* General sidebar styles */
.bm-menu {
  background: #000000;
  padding: 2.5em 1em 0;
  font-size: 1.15em; 
}

/* Wrapper for item list */ /* style item list container*/
.bm-item-list {
  color: #b8b7ad;
  @apply flex flex-col justify-start items-start gap-2.5;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
}

/* Menu End*/


/*Carousel Start */

.swiper-button-prev, .swiper-button-next {
  @media (max-width: 1024px) {
    display: none !important;
  }
}

.swiper-pagination-bullet {
  background-color: white !important;
}

.swiper-button-prev, .swiper-button-next {
  top: var(--swiper-navigation-top-offset, 45%) !important;
}

.swiper-button-next::after, .swiper-button-prev::after {
  display: none;
}

.swiper-button-next, .swiper-button-prev {
  
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  width: 40px !important;
  } 

.swiper-button-prev{
  background-image: url("/icons/left-arrow.svg") !important;
}

.swiper-button-next {
  background-image: url("/icons/right-arrow.svg") !important;
}

/*Carousel End */